<!DOCTYPE html>
<html lang="en">

<head>
  <title>Banners</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta content="True" name="HandheldFriendly" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=5" />
  <meta name="nosnippets" />
  <meta name="theme-color" content="#85031b">
  <meta name="description" content="Banners" />

    <!-- !!! DO NOT INCLUDE IN BCC !!! -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <!-- !!! DO NOT INCLUDE IN BCC !!! -->

  <link rel="stylesheet" type="text/css" href="https://static.lechateau.com/static/css/combined.min.css?bust=4c6557c">

  
  
  <link rel="stylesheet" type="text/css" href="../../css/banner.css" />
  <link rel="stylesheet" type="text/css" href="../../css/landing.css" />
  <link rel="stylesheet" type="text/css" href="../../css/fonts.css" />


</head>


<body>


  <div class="instruction">
    <h1>Mobile and Desktop</h1>
  </div>


  <section class="banner">
      <!-- Desktop -->
      <img class="banner__img banner__img--desktop"
        src="https://lechateau.scene7.com/is/image/LeChateau/women-New_Arrivals-020120-en?$jpeg-full$" />

      <!-- Mobile -->
      <img class="banner__img banner__img--mobile"
        src="https://lechateau.scene7.com/is/image/LeChateau/topsandswetaers-010620-fr-m?$jpeg-full$" />
    
  </section>


  <div class="instruction">
    <h1>Mobile and Desktop with Details</h1>
    <p>Image need to be 1025px for desktop</p>
    <p>Image need to be 591px for mobile</p>
  </div>


  <section class="banner">

    <!-- Terms -->
    <a title="Read the terms for this promotion"
      href="https://www.lechateau.com/style/html/terms/flashsale/0123_Flashsale_2020_en.html" target="_blank"
      onfocus="this.blur()" onclick="legalWindow(this.href,'mywin',320,193,'yes','center'); return false">

      <!-- Desktop -->
      <img class="banner__img banner__img--desktop"
        src="https://lechateau.scene7.com/is/image/LeChateau/catbannersmenubanner-FS-012420_01?$jpeg-full$" />

      <!-- Mobile -->
      <img class="banner__img banner__img--mobile"
        src="https://lechateau.scene7.com/is/image/LeChateau/catbannersmenubanner-FS-012420_03?$jpeg-full$" />
    </a>

  </section>



  <div class="instruction">
    <h1>Image desktop + Seo Text</h1>
    <p>Image need to be 1025px for desktop</p>
    <p>Image need to be 591px for mobile</p>
  </div>


  <!-- Desktop image + text on mobile -->
  <section class="banner">

    <!-- desktop image -->
    <img class="banner__img banner__img--desktop"
      src="https://lechateau.scene7.com/is/image/LeChateau/women-New_Arrivals-020120-en?$jpeg-full$" />

    <!-- text over-->
    <div class="banner__holder banner__holder--desktop">
      <div class="banner__text banner__text--right">
        <h1 class="banner__title">Chandails et cardigans</h1>
        <h1 class="banner__title banner__title--lowercase">essentiels</h1>
        <p class="banner__blur">
          Au palmarès tricots. Ces chandails tendance sont ultra-polyvalents.
        </p>
      </div>
    </div>

    <!-- text SEO for mobile -->
    <div class="banner__seo banner__seo--mobile">
      <h1 class="banner__seo__title">
        Chandails pour femmes
      </h1>
    </div>
  </section>

  <div class="instruction">
    <h1>Image desktop + Seo Text</h1>
    <p>Image need to be 1025px for desktop</p>
    <p>Image need to be 591px for mobile</p>
  </div>

  <!-- Desktop image + text on mobile -->
  <section class="banner">

    <!-- desktop image -->
    <img class="banner__img banner__img--desktop"
      src="https://lechateau.scene7.com/is/image/LeChateau/women-New_Arrivals-020120-en?$jpeg-full$" />

    <!-- text over-->
    <div class="banner__holder banner__holder--desktop">
      <div class="banner__text banner__text--right">
        <h1 class="banner__title banner__title--white banner__title--align-center">
          Chandails et cardigans
        </h1>
        <h3 class="banner__title banner__title--uppercase  banner__title--align-center">
          essentiels
        </h3>
        <p class="banner__blur banner__blur--align-center">
          Au palmarès tricots. Ces chandails tendance sont ultra-polyvalents.
        </p>
        <a href="#" class="cta cta--red cta--margin-40" style="left:32%;">Test CTA</a> <br>
        <a href="#" class="cta cta--underline cta--margin-20" style="left:35%;">Test CTA #2</a>
      </div>
    </div>

    <!-- text SEO for mobile -->
    <div class="banner__seo banner__seo--mobile">
      <h1 class="banner__seo__title">
        Chandails pour femmes
      </h1>
      <a href="#" class="cta cta--underline cta--margin-0">Test CTA #2</a>
    </div>

  </section>


  <div class="instruction">
    <h1>SEO</h1>
    <p>Text is the category name</p>
  </div>


  <section class="banner">
    <div class="banner__seo">
      <h1 class="banner__seo__title">
        CEINTURES DE MARIAGE
      </h1>
    </div>
  </section>


  <div class="instruction">
    <h1>PRICE POINT BANNER</h1>
    <p>Text is the category name</p>
  </div>

  <!-- Pricepoint Banner -->
  <section class="pricepoint" style="background-color: red;">
    <h2 class="pricepoint__title pricepoint__title--big">Clearance</h2>
    <h1 class="pricepoint__catName">shirts</h1>

    <!-- pricebox -->
    <div class="pricepoint__row">
      <div class="pricepoint__col">
        <span class="pricepoint__text">up to</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__number">50</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__symbol">%</span>
        <br>
        <span class="pricepoint__text">off</span>
      </div>
    </div>

    <!-- Details -->
    <div class="pricepoint__detail">
      Select styles, prices as marked. <span>Details</span>
    </div>
  </section>


  <div class="instruction">
    <h1>OUTLET BANNER</h1>
    <p>Text is the category name</p>
  </div>


  <!-- Pricepoint Banner - OUTLET -->
  <section class="pricepoint pricepoint--outlet pricepoint--white"
    style="background-color: red; background: url('https://lechateau.scene7.com/is/image/LeChateau/BD_CAT_Banners_MenBlazers_en?$jpeg-prog$');">
    <h2 class="pricepoint__title pricepoint__title--small">Boxing Day</h2>
    <h1 class="pricepoint__catName">shirts</h1>

    <!-- pricebox -->
    <div class="pricepoint__row">
      <div class="pricepoint__col">
        <span class="pricepoint__text">from</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__symbol">$</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__number">50</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__subNumber">99</span>
      </div>
    </div>

    <!-- Details -->
    <div class="pricepoint__detail">
      Select styles, prices as marked. <span>Details</span>
    </div>
  </section>


  <div class="instruction">
    <h1>SALE BANNER</h1>
    <p>Text is the category name</p>
  </div>

  <!-- Pricepoint Banner - SALE -->
  <section class="pricepoint pricepoint--sale pricepoint--white" style="background-color: #aed6f0;">
    <h1 class="pricepoint__catName">Boots & Shooties</h1>

    <!-- pricebox -->
    <div class="pricepoint__row">
      <div class="pricepoint__col">
        <span class="pricepoint__text">up to</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__number">50</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__symbol">%</span>
        <br>
        <span class="pricepoint__text">off</span>
      </div>
    </div>

    <!-- Details -->
    <div class="pricepoint__detail">
      Select styles, prices as marked. <span>Details</span>
    </div>
  </section>

  <div class="instruction">
    <h1>CLEARANCE BANNER</h1>
    <p>Text is the category name</p>
  </div>

  <!-- Pricepoint Banner - CLEARANCE -->
  <section class="pricepoint pricepoint--clearance pricepoint--white" style="background-color: #d32828;">
    <h2 class="pricepoint__title">CLEARANCE</h2>
    <h1 class="pricepoint__catName">DRESSES</h1>

    <!-- pricebox -->
    <div class="pricepoint__row">
      <div class="pricepoint__col">
        <span class="pricepoint__text">from</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__number">50</span>
      </div>
      <div class="pricepoint__col">
        <span class="pricepoint__symbol">$</span>
      </div>
    </div>

    <!-- Details -->
    <div class="pricepoint__detail">
      Select styles, prices as marked. <span>Details</span>
    </div>
  </section>

  
	
 <script src="../../00-prod/lci-combined.min.js" defer></script> 
<!-- <script src="../js/min/detailWindow.min.js" defer></script> -->

</body>

</html>