<!DOCTYPE html>
<html lang="en">

<head>
  <title>Landing Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta content="True" name="HandheldFriendly" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=5" />
  <meta name="nosnippets" />
  <meta name="theme-color" content="#85031b">
  <meta name="description" content="Landing Page" />


  <link rel="preconnect" href="../../css/fonts.css" crossorigin>


<link rel="stylesheet" type="text/css" href="../../css/fonts.css" />

<!--
<link rel="preload" as="font" type="font/woff2" 
  href="https://static.lechateau.com/html/landing/assets/font/Gotham-Light.otf" crossorigin>
-->

 <style>
  .font-title {
    padding: 10px 15px;
    width:100%;
    margin-top: 15px;
    background-color: #c31d1d;
    color: white;
  }
  p {
    font-style: 24px;
  }
  .font-title span {
    margin-left: 10px;
    text-transform: italic;
  }
 </style>

</head>


<body>



  <main class='page'>


    <div class="instruction">
      <h1 class="GothamBook text--size-32">Fonts available</h1>
    </div>

    <h3 class="font-title">Gotham Light<span>class: GothamLight</span></h3>
    <p class="GothamLight">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">Gotham Medium<span>class: GothamMedium</span></h3>
    <p class="GothamMedium">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">Gotham Book<span>class: GothamBook</span></h3>
    <p class="GothamBook">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">Gotham Bold<span>class: GothamBold</span></h3>
    <p class="GothamBold">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">Gotham Black<span>class: GothamBlack</span></h3>
    <p class="GothamBlack">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">Didot Bold<span>class: DidotBold</span></h3>
    <p class="DidotBold">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">Black Sword<span>class: BlackSword</span></h3>
    <p class="BlackSword">The quick brown fox jumps over the lazy dog</p>
    
    <h3 class="font-title">Freight<span>class: Freight</span></h3>
    <p class="Freight">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">Dido tRoman<span>class: DidotRoman</span></h3>
    <p class="DidotRoman">The quick brown fox jumps over the lazy dog</p>
    
    <!-- MUSEO-SANS-->
    <h3 class="font-title">MuseoSans100<span>class: MuseoSans100</span></h3>
    <p class="MuseoSans100">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans300<span>class: MuseoSans300</span></h3>
    <p class="MuseoSans300">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans500<span>class: MuseoSans500</span></h3>
    <p class="MuseoSans500">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans700<span>class: MuseoSans700</span></h3>
    <p class="MuseoSans700">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans900<span>class: MuseoSans900</span></h3>
    <p class="MuseoSans900">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans-100 Italic<span>class: MuseoSans100Italic</span></h3>
    <p class="MuseoSans100Italic">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans-300 Italic<span>class: MuseoSans300Italic</span></h3>
    <p class="MuseoSans300Italic">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans-500 Italic<span>class: MuseoSans500Italic</span></h3>
    <p class="MuseoSans500Italic">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans-700 Italic<span>class: MuseoSans700Italic</span></h3>
    <p class="MuseoSans700Italic">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">MuseoSans-900 Italic<span>class: </span></h3>
    <p class="MuseoSans900Italic">The quick brown fox jumps over the lazy dog</p>

    <h3 class="font-title">Awesome Fonts</h3>
    <i class="fab fa-instagram"></i>


  </main>





</body>

</html>