<!DOCTYPE html>
<html lang="en">

<head>
  <title>Landing Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta content="True" name="HandheldFriendly" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=5" />
  <meta name="nosnippets" />
  <meta name="theme-color" content="#85031b">
  <meta name="description" content="Landing Page" />
  <!-- !!! DO NOT INCLUDE IN BCC !!! -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <!-- !!! DO NOT INCLUDE IN BCC !!! -->

  <link rel="preload" href="../../00-prod/lci.combined.min.css" as="style">
  <link rel="preload" href="../../00-prod/lci-combined.min.js" as="script"> 


  <link rel="stylesheet" type="text/css" href="https://static.lechateau.com/static/css/combined.min.css?bust=4c6557c">
  <link rel="stylesheet" type="text/css"
    href="https://static.lechateau.com/html/landing/templates/new/MyFontsWebfontsKit.min.css" />


  <link rel="stylesheet" type="text/css"  href="../../00-prod/lci.combined.min.css" />

  <style>
    html,
    body {
      height: 100%;
      position: relative;
      font-family: "MuseoSans-300", "sans";
      font-size: 14px;
      max-width: 100%;
    }

    .instruction {
      font-size: 34px;
      font-family: 'GothamBook';
      text-align: center;
      background-color: #cecece;
      margin-top: 20px;
    }
  </style>
 

</head>


<body>


  <main class='page'>


    <div class="instruction">
     YOUTUBE VIDEO - 1300px
    </div>

    <!-- Video -->
    <section class="row">
      <div class="youtube">
        <div class="youtube__video" id="YouTubeVideoPlayer" data-video="6rbZZgWSBOA" data-list="">&nbsp;</div>
      </div>
    </section>
    <!-- End - Video -->

    <div class="instruction">
      <h1>Hero Youtube Video (2000px) + Text over</h1>
    </div>
    <!-- Video -->
    <section class="row row--full">

      <!-- cta -->
      <div class="row__cta">
        <a href="#" title="" class="cta cta--pink" style="left:5%; top: 71%;">
          SHOP BLAZERS
        </a>
      </div>

      <!-- text over-->
      <div class="row__block-text row__block-text--center" style="background-color:rgba(255, 255, 255, 0.30980392156862746);">
        <h1 class="text--size-48 text--GothamBook text--red">GIGA</h1>
        <h1 class="text--size-40 text--GothamBook">Super</h1>
        <h1 class="text--size-20 text--MuseoSans-300">Duper</h1>
        <h1 class="text--size-30 text--GothamBook text--red">New collection</h1>
        <p class="text">available now</p>
        <a href="#" title="" class="cta cta--red cta--margin-20">
          CLICK HERE NOW
        </a>
      </div>

      <h1 class="row__text " style="left: 5%; top: 45%; color: yellow; font-size: 45px;">
        Test
      </h1>

      <!-- video -->
      <div class="youtube">
        <div class="youtube__video" id="YouTubeVideoPlayer2" data-video="x1--PncvECw" data-format="hero">&nbsp;</div>
      </div>

    </section>
    <!-- End - Video -->



    <div class="instruction">
      Small video (1025px)
    </div>

    <!-- Video -->
    <section class="row" style="max-width: 1025px;">
      <div class="youtube">
        <div class="youtube__video" id="YouTubeVideoPlayer3" data-video="x1--PncvECw" data-format="banner">&nbsp;</div>
      </div>
    </section>
    <!-- End - Video -->


     <!-- VIDEO -->
        <!-- VIDEO DESKTOP -->
        <div class="row row--desktop">
          <!-- image -->
          <div class="row__image">
            <img class="lazyload"
              data-src="https://lechateau.scene7.com/is/image/LeChateau/lechateau-022420-en-d_07?$jpeg-prog$"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              alt="Prom Perfection. Discover the dream dresses you’ll never forget. Shop Prom" decoding="async">
          </div>

          <!-- CTA -->
          <div class="row__cta">
            <a class="cta cta--black" href="https://www.lechateau.com/style/jump/Home/category/cat39920702"
              title="Shop Prom &amp; Graduation Dresses" style="left:70%; top: 76%;">
              Shop Prom</a>
          </div>

          <div class="banner__holder banner__holder--desktop">
            <div class="banner__text banner__text--left">
              <!-- Video-->
              <div class="row" style="max-width: 1025px;">
                <div class="youtube">
                  <div class="youtube__video" id="YouTubeVideoPlayer4" data-video="6rbZZgWSBOA" data-format="banner">
                    &nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END - VIDEO DESKTOP -->

        <!-- VIDEO MOBILE -->
        <div class="row row--mobile" style="background-color: #edd0d2;">
          <img class="lazyload"
          data-src="https://lechateau.scene7.com/is/image/LeChateau/lechateau-022420-en-m_06?$jpeg-prog$"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          alt="Prom Perfection. Discover the dream dresses you’ll never forget. Shop Prom" decoding="async">
        </div>

        <div class="row row--mobile row--margin-0" style="background-color: #edd0d2;">
          <!-- Video-->
          <div class="row" style="max-width: 1025px;">
            <div class="youtube">
              <div class="youtube__video" id="YouTubeVideoPlayer5" data-video="6rbZZgWSBOA" data-format="banner">
                &nbsp;
              </div>
            </div>
          </div>
        </div>

        <div class="row row--mobile row--margin-0" style="background-color: #edd0d2;">
          <a href="https://www.lechateau.com/style/jump/Home/category/cat39920702" title="Shop Prom Dresses">
          <img class="lazyload"
          data-src="https://lechateau.scene7.com/is/image/LeChateau/lechateau-022420-en-m_06_01?$jpeg-prog$"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          alt="Prom Perfection. Discover the dream dresses you’ll never forget. Shop Prom" decoding="async">   
         </a>      
        </div>        
        <!-- END - VIDEO MOBILE -->
  <!--END -  VIDEO -->



  </main>


  <!-- Youtube script -->
  <script>
    $(document).ready(function(){
      youtubeVideos();
    });
  </script>




<script src="../../00-prod/lci-combined.min.js" defer></script> 



</body>

</html>